html, body{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
}

header{
    background:indigo;
    color: white;
    justify-content: space-between;
    padding: 1rem;
}

main {
    background: whitesmoke;
    margin: auto;
    padding: 2rem;
}

footer {
    background: indigo;
    left: 0;
    bottom: 0;
    color: white;
    text-align: center;
    padding: 2rem;
    align-items: center;

}

ul {
  list-style-type: none;
  overflow: hidden;
  display: block;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
  color: indigo;
  text-decoration: none;
}

.text{
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.logo{
    width: 2em;
    display: flex;
    float: left;
}
.card{
    height: 23rem;
    margin-top: 2rem;
}

.container-deck{
    margin: auto;
    width: 80%;
    display: flex;
}


#login label{
    color: white;
}

#login #button{
    background: white;
    color: indigo;
    border: none;
}

#login button{
    background: white;
    color: indigo;
    border: none;
}

.hr3 {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, indigo, transparent);  
}